body {
	background: url(background.jpg);
	background-position: center;
	background-size: cover;
}

html {
	height: 100%;
}

hr {
	width: 250px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	color: white;
	padding-bottom: 60%;
}

#introduction {
	font-family: Lato, light;
	color: white;
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				0px 8px 13px rgba(0, 0, 0, 0.1),
				0px 18px 23px rgba(0, 0, 0, 0.4);
}


.sign {
	margin: 20px;
	color: white;
}
