body {
	background: url(image/background.jpg);
	background-position: center;
	background-size: cover;
}

html {
	height: 100%;
  overflow: hidden;
}

hr {
	width: 250px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	color: white;
	padding-bottom: 60%;
}


#introduction {
	font-family: Lato, light;
	color: white;
	text-align: center;
	padding-top: 25%;

}

.sign {
	margin: 20px;
	color: white;
}

#logo{

  animation:myfirst 5s;
  animation-delay: 3s;
  opacity: 0;
  animation:myfirst 3s;
  animation-fill-mode:forwards;
  animation-delay: 3s;

  /* Safari 和 Chrome */
  -webkit-animation:myfirst 3s;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-delay: 3s;
}

#footer {
 margin-top: 150px;
 font-weight: lighter;
 color: white;
 text-align: center;
 font-size: 12px;
 text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.4);
}

@keyframes myfirst
{
  0%   {opacity: 0;}
  100% {opacity: 1;}
}


@-webkit-keyframes myfirst /* Safari and Chrome */
{
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;
  background-color: rgb(25,25,25);
}

.line-1{
    position: relative;
    top: 50%;
    width: 20em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 130%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter1{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 9em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.anim-typewriter2{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 6em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
