body {
	background: #f8f9fa!important;
	background-position: center;
	background-size: cover;
	padding-top: 80px;
}


html {
	height: 100%;
}

button{
	margin-top: 70%
}

#txt{
	font-family: Lato, light;
	color: rgb(70,130,180);
	text-align: center;
	padding-top: 60%;
}

#white1
{
	left:187.5px;
	top:150px;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-webkit-transform-origin: 0;
	transform-origin: 0;
}
#white2
{
	left:187.5px;
	top:136px;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-webkit-transform-origin: 0;
	transform-origin: 0;
}
#white3
{
	left:187.5px;
	top:122px;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-webkit-transform-origin: 0;
	transform-origin: 0;
}
#white4
{
	left:187.5px;
	top:108px;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-webkit-transform-origin: 0;
	transform-origin: 0;
}
#white5
{
	left:187.5px;
	top:94px;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-webkit-transform-origin: 0;
	transform-origin: 0;
}

#blue1
{
	left:187.5px;
	top:150px;
	opacity: 0;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-webkit-transform-origin: 0;
	transform-origin: 0;
}

#blue2
{
	left:187.5px;
	top:150px;
	opacity: 0;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-webkit-transform-origin: 0;
	transform-origin: 0;
}
#yellow1
{
	left:187.5px;
	top:136px;
	opacity: 0;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-webkit-transform-origin: 0;
	transform-origin: 0;
}

#yellow2
{
	left:187.5px;
	top:136px;
	opacity: 0;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-webkit-transform-origin: 0;
	transform-origin: 0;
}
#green1
{
	left:187.5px;
	top:122px;
	opacity: 0;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-webkit-transform-origin: 0;
	transform-origin: 0;
}

#green2
{
	left:187.5px;
	top:122px;
	opacity: 0;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-webkit-transform-origin: 0;
	transform-origin: 0;
}
#red1
{
	left:187.5px;
	top:108px;
	opacity: 0;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-webkit-transform-origin: 0;
	transform-origin: 0;
}

#red2
{
	left:187.5px;
	top:108px;
	opacity: 0;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-webkit-transform-origin: 0;
	transform-origin: 0;
}
#purple1
{
	left:187.5px;
	top:94px;
	opacity: 0;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-webkit-transform-origin: 0;
	transform-origin: 0;
}

#purple2
{
	left:187.5px;
	top:94px;
	opacity: 0;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-webkit-transform-origin: 0;
	transform-origin: 0;
}

button {
	margin:5px;
	z-index: 0;
}

.col {
	margin-top: 70%;
}

#routine {
  margin-top: 2px;
}

#micro {
  margin: auto 44%;
}

.side-bar {
  color: white;
  width: 66px;
  position: fixed;
  bottom: 25%;
  right: 20px;
  font-size: 15px;
  line-height: 40px;
  z-index: 100;
}


.side-bar a {
  width: 100px;
  height: 40px;
  display: inline-block;
  background-color: rgb(70,130,180);
  margin-bottom: 3px;
  border-radius: 20px;
}
.side-bar a:hover {
  background-color: #669fdd;
}

.side-bar .icon-chat:hover .chat-tips {
  display: block;
}

.chat-tips {padding: 20px;border: 1px solid #d1d2d6;position: absolute;right: 78px;top: -55px;background-color: #fff;display: none;}

.chat-tips i {
  width: 9px;height: 16px;display: inline-block;position: absolute;right: -9px;top: 80px;background-position:-88px -350px;
}

.chat-tips img {
  width: 138px;height: 138px;
}

.icon-qq, .icon-chat, .icon-blog {
  color: white;
  text-align: center;
}


