body {
	background: white;
	background-position: center;
	background-size: cover;
}


html {
	height: 100%;
}

#container {
	margin: 20px;
}

.side-bar a,.chat-tips i {background: url(../image/dmy.png) no-repeat;
  }

  .side-bar {
    color: white;
    width: 66px;
    position: fixed;
    bottom: 40%;
    right: 25px;
    font-size: 0;
    line-height: 40px;
    z-index: 100;
  }
  .side-bar a {
    width: 100px;
    height: 40px;
    display: inline-block;
    background-color: rgb(70,130,180);
    margin-bottom: 3px;
    border-radius: 20px;
  }
  .side-bar a:hover {
    background-color: #669fdd;
  }
  .side-bar .icon-qq {background-position: 3px -63px;
  }
  .side-bar .icon-chat {background-position:7px -192px;position: relative;
  }
  .side-bar .icon-chat:hover .chat-tips {
    display: block;
  }
  .side-bar .icon-blog {background-position: 0 -198px;}
  .side-bar .icon-mail {background-position: 0 -266px;}
  .side-bar .icon-totop {background-position: 0 -334px;}
  .chat-tips {padding: 20px;border: 1px solid #d1d2d6;position: absolute;right: 78px;top: -55px;background-color: #fff;display: none;}
  .chat-tips i {width: 9px;height: 16px;display: inline-block;position: absolute;right: -9px;top: 80px;background-position:-88px -350px;}
  .chat-tips img {width: 138px;height: 138px;}