body {
	background: url(../image/background.jpg);
	background-position: center;
	background-size: cover;
}


html {
	height: 100%;
}

#txt{
	font-family: Lato, light;
	color: white;
	text-align: center;
	padding-top: 25%;
}